<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="InputFilesFolderPath" value="C:\Work\Cobalt File Splitter\Testing\CobaltSplitTestFiles"/>
		<add key="WithContractsFolder" value="C:\Work\Cobalt File Splitter\Testing\WithContracts"/>
		<add key="WithoutContractsFolder" value="C:\Work\Cobalt File Splitter\Testing\WithoutContracts"/>
		<add key="ProcessedFileFolder" value="C:\Work\Cobalt File Splitter\Testing\Processed"/>
		<add key="ErrorFileFolder" value="C:\Work\Cobalt File Splitter\Testing\Error"/>
		<add key="ContractNos" value="475,476,479,480,497,10061,499"/>
	</appSettings>
</configuration>