<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="InputFilesFolderPath" value="D:\Work\CobaltSplitterTask\CobaltSplitTestFiles"/>
		<add key="WithContractsFolder" value="D:\Work\CobaltSplitterTask\WithContracts"/>
		<add key="WithoutContractsFolder" value="D:\Work\CobaltSplitterTask\WithoutContracts"/>
		<add key="ProcessedFileFolder" value="D:\Work\CobaltSplitterTask\Processed"/>
		<add key="ErrorFileFolder" value="D:\Work\CobaltSplitterTask\Error"/>
		<add key="ContractNos" value="475,476,479,480,497,10061,499"/>
	</appSettings>
</configuration>